<main>
    <div class="top-left top-card-holder">
        <app-game-card-back class="top-card" [class.disabled]="currentUserService.username !== currentPlayerName"
            (click)="takeCard()"></app-game-card-back>
    </div>
    <div class="top-right top-card-holder">
        <app-game-card class="top-card" [card]="lastCurrentCard"></app-game-card>
    </div>
    <div class="top-right top-card-holder" [@currentCardAnimation]="currentCardAnimationState"
        (@currentCardAnimation.done)="currentCardAnimationFinished($event)">
        <app-game-card class="top-card" [card]="currentCard"></app-game-card>
    </div>

    <div class="center-buttons">
        <div class="row">
            <!-- <button class="icon-button settings-button">
                <svg-icon src="assets/icons/settings.svg" class="settings-icon"></svg-icon>
            </button> -->
            <button class="icon-button delete exit-button" (click)="quit()">
                <svg-icon src="assets/icons/exit.svg" class="exit-icon"></svg-icon>
            </button>
            <button class="icon-button fullscreen-button" (click)="switchFullscreenMode()">
                <svg-icon [src]="fullscreenState ? 'assets/icons/exit-fullscreen.svg' : 'assets/icons/fullscreen.svg'"
                    class="fullscreen-icon"></svg-icon>
            </button>
        </div>
        <div class="row">
            <button class="icon-button warning last-card-button" (click)="lastCard()">
                <span>1</span>
            </button>
        </div>
    </div>

    <div class="cards-holder">
        <div class="cards">
            <div class="card-holder" *ngFor="let card of cards" [@cardsAnimation]
                [@cardShakeAnimation]="(!!card.cantLayHelper).toString()">
                <app-game-card class="card" [class.disabled]="currentUserService.username !== currentPlayerName"
                    [card]="card" (click)="layCard(card)">
                </app-game-card>
            </div>
        </div>
    </div>
</main>

<app-play-view-players class="players" [players]="players" [currentPlayerName]="currentPlayerName"
    [isReverseDirection]="isReverseDirection"></app-play-view-players>