<div [@holderShownHidden]="{ value: popupService.selectColorModal.modalShown ? 'shown' : 'hidden' }"
    class="popup-holder select-color-popup-holder">
    <div class="colors-holder">
        <div class="row">
            <div class="color blue" (click)="selectedColor(colors.Blue)"></div>
            <div class="color yellow" (click)="selectedColor(colors.Yellow)"></div>
        </div>
        <div class="row">
            <div class="color green" (click)="selectedColor(colors.Green)"></div>
            <div class="color red" (click)="selectedColor(colors.Red)"></div>
        </div>
    </div>
</div>