@import "sizes";

:host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nuno-logo{
    margin: 20px;
    height: 75px;
}

.back-icon{
    margin: 20px;
    height: 60px;
    cursor: pointer;
}

@media only screen and (max-width: $mobile-querry) {
    .nuno-logo{
        margin: 10px;
        height: 35px;
    }
    
    .back-icon{
        margin: 10px;
        height: 35px;
        cursor: pointer;
    }
}