@import "colors";
@import "sizes";

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $primary-color;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

canvas {
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 99999;

    pointer-events: none;
}

table {
    border-collapse: collapse;
}

svg-icon {
    svg {
        height: 100%;
        width: 100%;
        fill: currentColor;
    }
}

.button {
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: $default-border-size solid $secondary-color;
    color: $primary-color;
    padding: 14px 20px;
    outline: none;
    opacity: 1;
    border-radius: 50px;
    transition: 0.25s;
    user-select: none;

    cursor: pointer;

    img,
    svg-icon {
        margin-right: 10px;
    }

    &:hover {
        background-color: $secondary-color;
    }

    &.secondary {
        border-color: $secondary-button-color;

        &:hover {
            background-color: $secondary-button-color;
        }
    }

    &.red {
        border-color: $delete-color;

        &:hover {
            background-color: $delete-color;
        }
    }

    &:disabled,
    &.deactivated {
        opacity: 0.2;
        border: $default-border-size solid $secondary-button-color;
        cursor: default;

        &:hover {
            background-color: transparent;
        }
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    color: $primary-color;
    height: 60px;
    aspect-ratio: 1;
    border: $default-border-size solid $secondary-color;
    border-radius: 50px;
    outline: none;
    transition: 0.25s;
    user-select: none;

    cursor: pointer;

    svg-icon {
        height: 80%;
        width: 80%;

        svg {
            fill: $primary-color;
            height: 100%;
            width: 100%;
        }
    }

    &:hover {
        background-color: $secondary-color;
    }

    &.delete {
        border-color: $delete-color;

        svg {
            fill: $delete-color;
            transition: 0.25s;
        }

        &:hover {
            background-color: $delete-color;

            svg {
                fill: $primary-color;
            }
        }
    }

    &.warning {
        border-color: $warning-color;

        svg {
            fill: $warning-color;
            transition: 0.25s;
        }

        &:hover {
            background-color: $warning-color;

            svg {
                fill: $primary-color;
            }
        }
    }
}

.text-box,
.number-input {
    background: none;
    text-align: center;
    font-size: 20px;
    border: $default-border-size solid $third-color;
    color: $primary-color;
    padding: 14px 20px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;

    &:focus {
        border-color: cyan;
    }
}

.number-input {
    padding: 14px 0px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 70px;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin: 0;
    font-size: 35px;
}

p {
    margin: 0;
    font-size: 25px;
}

.small-icon {
    height: 25px;
}

.medium-icon {
    height: 40px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

@media screen and (orientation: landscape) and (max-height: $mobile-querry),
    screen and (orientation: portrait) and (max-width: $mobile-querry) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }

    .hide-on-mobile {
        display: none !important;
    }

    .button,
    .text-box {
        font-size: 17px;
        padding: 10px 20px;
    }

    .small-icon {
        height: 20px;
    }

    .medium-icon {
        height: 25px;
    }

    .icon-button {
        height: 40px;

        svg-icon {
            height: 100%;
            width: 100%;
        }
    }
}
