@import "colors";
@import "sizes";

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $primary-color;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.button {
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: $default-border-size solid $secondary-color;
    color: $primary-color;
    padding: 14px 20px;
    outline: none;
    opacity: 1;
    border-radius: 50px;
    transition: 0.25s;

    cursor: pointer;

    img{
        margin-right: 10px;
    }

    &:hover {
        background-color: $secondary-color;
    }

    &.deactivated {
        opacity: 0.2;
        border: 2px solid $secondary-button-color;
        cursor: default;

        &:hover {
            background-color: transparent;
        }
    }
}

h1 {
    margin: 0;
    font-size: 85px;
}

h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin: 0;
    font-size: 35px;
}

p {
    font-size: 25px;
}

.small-icon{
    height: 25px;
}

@media only screen and (max-width: $mobile-querry) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 17px;
    }

    .button{
        font-size: 17px;
    }

    .small-icon{
        height: 20px;
    }
}
