@import "sizes";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    >* {
        margin-top: 40px;
    }

    .nuno-logo{
        height: 99px;
    }    
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;

        &.logout{
            justify-content: center;
        }
    }
}

@media only screen and (max-width: $mobile-querry) {
    .title {
        >* {
            margin-top: 20px;
        }
        
        .nuno-logo{
            height: 80px;
        }
    }

    .buttons {
        flex-direction: column;
        align-items: center;

        &.logout{
            margin-top: 0px !important;
        }

        .button:last-child{
            margin-top: 30px;
        }
    }
}
