<div class="title">
    <h1>Willkommen</h1>
    <h1>bei</h1>
    <img src="assets/logos/nuno-logo-small.png" alt="logo" class="nuno-logo">
</div>

<div class="options">
    <h3>Du hast folgende Optionen:</h3>

    <div class="buttons">
        <a class="button" routerLink="/username">
            <img src="assets/icons/add-group.svg" class="small-icon">
            <span>Spiel beitreten</span>
        </a>
        <button class="button">
            <img src="assets/icons/edit.svg" class="small-icon">
            <span>Spiel erstellen</span>
        </button>
    </div>
</div>