<app-back-header backUrl="/rules" [clearQueryParams]="true"></app-back-header>
<h1>
    <span>Mitspieler </span>
    <span class="hide-on-mobile">verwalten</span>
</h1>

<h3 class="game-number-title">
    <span>Spiel-Nummer:</span>
    <span class="game-number">{{sessionId}}</span>
</h3>

<main>
    <h3>Spieler verwalten</h3>

    <div class="players">
        <div class="player" [class.me]="player === creatorName" *ngFor="let player of playerNames">
            <div class="drag-drop-bar">
                <svg-icon class="arrow-icon up" src="/assets/icons/expand-down.svg"></svg-icon>
                <svg-icon class="arrow-icon down" src="/assets/icons/expand-down.svg"></svg-icon>
            </div>

            <p class="name">{{player}}</p>
            
            <svg-icon class="leave-icon" src="/assets/icons/exit.svg"></svg-icon>
        </div>
    </div>
</main>
<footer>
    <button class="button">Spiel starten</button>
</footer>