<app-leave-header (leave)="quit()"></app-leave-header>
<h1>
    <span>Mitspieler </span>
    <span class="hide-on-mobile">verwalten</span>
</h1>

<h3 class="game-number-title">
    <span>Spiel-Nummer:</span>
    <span class="game-number">{{sessionId}}</span>
</h3>

<main>
    <h3>Spieler verwalten</h3>

    <div cdkDropList class="players" (cdkDropListDropped)="playerDropped($event)">
        <div cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".players" class="player" [class.me]="player.username === creatorName" *ngFor="let player of players">
            <div class="placeholder" *cdkDragPlaceholder></div>

            <div class="drag-drop-bar">
                <svg-icon class="arrow-icon up" src="/assets/icons/expand-down.svg"></svg-icon>
                <svg-icon class="arrow-icon down" src="/assets/icons/expand-down.svg"></svg-icon>
            </div>

            <p class="name">{{player.username}}</p>
            
            <svg-icon class="leave-icon" src="/assets/icons/exit.svg" (click)="kick(player.username)"></svg-icon>
        </div>
    </div>
</main>
<footer>
    <button class="button">Spiel starten</button>
</footer>