@import "src/app/shared/styles/mixins/popup.scss";

:host {
    @include popup;
}

.error-icon {
    transform: scale(2);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
