@import "colors";
@import "sizes";

.holder {
    border-radius: $default-border-radius;

    &.first {
        background-color: $gold;
    }

    &.second {
        background-color: $silver;
    }

    &.third {
        background-color: $bronze;
    }
}
