<div class="holder" [ngClass]="{'first': rank === 1, 'second': rank === 2, 'third': rank === 3}">
    <div class="left">
        {{rank}}
    </div>
    <div class="right">
        <div class="name">
            <h3 *ngIf="rank === 1">{{player?.username}}</h3>
            <p *ngIf="rank !== 1">{{player?.username}}</p>
        </div>
        <div class="points">
            <h3 *ngIf="rank === 1">{{player?.points}} Punkte</h3>
            <p *ngIf="rank !== 1">{{player?.points}} Punkte</p>
        </div>
    </div>
</div>