<div class="border" *ngIf="card" (resized)="onResized($event)" [ngClass]="{ 'red': card.color === color.Red, 'green': card.color === color.Green, 'blue': card.color === color.Blue, 'yellow': card.color === color.Yellow, 'wild': card.cardType === cardType.Wild && !card.color }" [ngStyle]="{'font-size.px': height / 10}">
    <ng-container *ngIf="card.cardType === cardType.Number">
        <div class="top-left">
            <span class="small-number">{{card.number}}</span>
        </div>
        <div class="center">
            <div class="big-number">{{card.number}}</div>
        </div>
        <div class="bottom-right">
            <span class="small-number">{{card.number}}</span>
        </div>
    </ng-container>
    
    <ng-container *ngIf="card.cardType === cardType.DrawTwo">
        <div class="top-left">
            <span class="small-number">+2</span>
        </div>
        <div class="center">
            <svg-icon class="center-image" src="assets/images/draw_two_center.svg"></svg-icon>
        </div>
        <div class="bottom-right">
            <span class="small-number">+2</span>
        </div>
    </ng-container>

    <ng-container *ngIf="card.cardType === cardType.Reverse">
        <div class="top-left">
            <svg-icon class="corner-image reverse-image" src="assets/images/reverse_corner.svg"></svg-icon>
        </div>
        <div class="center">
            <svg-icon class="center-image reverse-image" src="assets/images/reverse_center.svg"></svg-icon>
        </div>
        <div class="bottom-right">
            <svg-icon class="corner-image reverse-image" src="assets/images/reverse_corner.svg"></svg-icon>
        </div>
    </ng-container>

    <ng-container *ngIf="card.cardType === cardType.Skip">
        <div class="top-left">
            <svg-icon class="corner-image" src="assets/images/skipp_center.svg"></svg-icon>
        </div>
        <div class="center">
            <svg-icon class="center-image" src="assets/images/skipp_center.svg"></svg-icon>
        </div>
        <div class="bottom-right">
            <svg-icon class="corner-image" src="assets/images/skipp_center.svg"></svg-icon>
        </div>
    </ng-container>

    <ng-container *ngIf="card.cardType === cardType.Wild">
        <div class="top-left">
            <svg-icon class="corner-image" [src]="wildCardImageUrl"></svg-icon>
        </div>
        <div class="center">
            <svg-icon class="center-image" [src]="wildCardImageUrl"></svg-icon>
        </div>
        <div class="bottom-right">
            <svg-icon class="corner-image" [src]="wildCardImageUrl"></svg-icon>
        </div>
    </ng-container>

    <ng-container *ngIf="card.cardType === cardType.WildDrawFour">
        <div class="top-left">
            <span class="small-number">+4</span>
        </div>
        <div class="center">
            <svg-icon class="center-image wild4-image" src="assets/images/wild_plus4_center.svg"></svg-icon>
        </div>
        <div class="bottom-right">
            <span class="small-number">+4</span>
        </div>
    </ng-container>
</div>
