@import "colors";

:host{
    display: flex;
    aspect-ratio: 63/88;
}

.border{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    border: 2px solid currentColor;
    border-radius: 8.8%/6.3%;

    background-color: $background-color;

    &.wild{
        border: 2px solid $primary-color;
    }

    &.red{
        color: $red;

        .fill-red-selected{
            fill: $red;
        }
    }

    &.green{
        color: $green;

        .fill-green-selected{
            fill: $green;
        }
    }

    &.blue{
        color: $blue;

        .fill-blue-selected{
            fill: $blue;
        }
    }

    &.yellow{
        color: $yellow;

        .fill-yellow-selected{
            fill: $yellow;
        }
    }
}

.top-left{
    position: absolute;
    top: 3.5%;
    left: 5%;
    font-size: 1em;
}

.bottom-right{
    position: absolute;
    bottom: 3.5%;
    right: 5%;
    font-size: 1em;
    transform: rotate(180deg);
}

.center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-number{
    color: $primary-color;
}

.big-number{
    color: $primary-color;
    font-size: 5em;
}

.center-image{
    height: 35%;
}

.corner-image{
    display: flex;
    height: 1em;
}

.fill-background{
    fill: $background-color;
}

.fill-red{
    fill: $red;
}

.fill-blue{
    fill: $blue;
}

.fill-green{
    fill: $green;
}

.fill-yellow{
    fill: $yellow;
}