@import "colors";
@import "sizes";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    padding: 20px;
}

main {
    flex: 1;
    min-height: 0;
}

.players-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    overflow: auto;
}

.direction-arrow-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100px;
    align-self: center;

    .direction-arrow {
        width: 100%;
        width: 100%;

        transition: transform 0.2s;
        &.up {
            transform: rotate(180deg);
        }
    }
}

.players {
    flex: 1;
    padding-right: 10px;
    padding-bottom: 20px;
    min-width: 300px;
    max-width: 450px;
    max-height: 100%;
    overflow-y: auto;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
    min-width: 0;
    margin-top: 20px;
    padding: 0 30px;
    border-radius: 50px;
    background-color: $lighter-background-color;
    user-select: none;

    .name {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 15px;
    }

    .card-symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        aspect-ratio: 63/88;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $primary-color;
        color: $primary-color;

        .cards-count {
            font-size: 15px;

            &.one-digit {
                font-size: 25px;
            }
        }

        &.last-card {
            border-color: $delete-color;
        }
    }

    &.me {
        color: $secondary-color;
    }

    &.current {
        border: $default-border-size solid $secondary-color;
    }
}

@media only screen and (max-width: $mobile-querry) {
    .players {
        padding-bottom: 10px;
        min-width: 0;
    }

    .player {
        height: 50px;
        margin-top: 10px;
        padding: 0 20px;
        min-width: auto;

        .card-symbol {
            height: 30px;
            border-radius: 3px;

            .cards-count {
                font-size: 10px;

                &.one-digit {
                    font-size: 20px;
                }
            }
        }
    }
}
