<app-back-header backUrl="/welcome"></app-back-header>

<h1 class="title">Benutzername wählen</h1>

<main>
    <div class="use-nuno-account">
        <h3>NUNO-Account verwenden</h3>
        <a class="button" routerLink="/login" queryParamsHandling="merge">Zum NUNO-Login</a>
    </div>

    <h1 class="or">oder</h1>
    
    <div class="use-temp-account">
        <h3>Temporärer Name verwenden</h3>
        <input type="text" class="text-box" placeholder="Benutzername">
        <button class="button">Weiter</button>
    </div>
</main>
