<app-leave-header></app-leave-header>
<h1 class="hide-on-mobile">Warten auf Spielstart</h1>
<h1 class="just-on-mobile">Bitte warten</h1>

<h3 class="subtitle">
    <span class="hide-on-mobile">Bitte hab etwas Geduld</span>
    <span>Der Spielleiter wird das Spiel in Kürze starten</span>
</h3>

<main>
    <h3>Mitspieler</h3>
    <div class="players">
        <div class="player">
            <p class="name">StephanRossegger</p>
            <p class="points">0 Punkte</p>
        </div>
        <div class="player me">
            <p class="name">NiggoTheKingMax32F</p>
            <p class="points">100 Punkte</p>
        </div>
    </div>
</main>