<app-leave-header (leave)="quit()" *ngIf="sessionState !== sessionStates.ShowResults"></app-leave-header>
<app-back-header [backUrl]="'/stats'" *ngIf="sessionState === sessionStates.ShowResults"></app-back-header>
<h1 class="hide-on-mobile">Warten auf Spielstart</h1>
<h1 class="just-on-mobile">Bitte warten</h1>

<h3 class="subtitle">
    <span class="hide-on-mobile">Bitte hab etwas Geduld</span>
    <span>Der Spielleiter wird das Spiel in Kürze starten</span>
</h3>

<main>
    <h3>Mitspieler</h3>
    <div class="players">
        <div class="player" [class.me]="player.username === myName" *ngFor="let player of players">
            <p class="name">{{player.username}}</p>
            <p class="points">{{player.points}} Punkte</p>
        </div>
    </div>
</main>