$primary-color: white;
$secondary-color: #2ecc71;
$secondary-button-color: #a1a1a1;
$third-color: #3498db;
$warning-color: #d3b014;
$delete-color: #cc2e2e;
$background-color: #0f0f0f;
$lighter-background-color: #424242;

$green: #0dc900;
$red: #ff1f1f;
$blue: #1f6be1;
$yellow: #ffdf28;

$gold: #fec107;
$silver: #c1c1c1;
$bronze: #ac7d02;
