$primary-color: white;
$secondary-color: #2ecc71;
$secondary-button-color: #a1a1a1;
$third-color: #3498DB;
$fourth-colour: #CCC12E;
$delete-color: #CC2E2E;
$background-color: #0f0f0f;
$lighter-background-color: #424242;