@import "src/app/shared/styles/mixins/popup.scss";
@import "sizes";

:host {
    @include popup;
}

.card {
    height: 200px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .yes {
        margin-right: 20px;
    }
}

@media screen and (orientation: landscape) and (max-height: $mobile-querry) {
    .card {
        height: 100px;
        margin-bottom: 20px;
    }
}
