@import "sizes";
@import "colors";

:host {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.podium {
    display: flex;
    flex-direction: row;
    align-items: center;

    .place:not(:last-child) {
        margin-right: 50px;
    }
}

.players-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    min-width: 0;
    margin-top: 20px;
    max-width: 600px;
    padding: 0 30px;
    border-radius: 50px;
    background-color: $lighter-background-color;

    &.me {
        color: $secondary-color;
    }

    &.podium-place {
        display: none;
    }

    .rank {
        flex: 0;
        margin-right: 5px;
    }

    .name {
        padding-right: 5px;
        min-width: 100px;
        flex: 1;
        text-align: start;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .points {
        font-weight: bold;
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .turn-screen-text {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-height: $mobile-querry) {
    .podium {
        flex: 1;

        .place:not(:last-child) {
            margin-right: 15px;
        }
    }

    .players-holder {
        display: none;
    }

    footer {
        width: 100%;
        height: 44px;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: center;
        position: relative;

        .turn-screen-text {
            display: flex;
        }

        .next {
            position: absolute;
            right: 10px;
            bottom: 0px;
        }
    }
}

@media screen and (orientation: portrait) and (max-width: $mobile-querry) {
    .podium {
        display: none;
    }

    .players {
        margin-top: 10px;
    }

    .player {
        &.podium-place {
            display: flex;
        }

        height: 50px;
        margin-top: 10px;
        padding: 0 20px;
        max-width: 90vw;
    }

    footer {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
