<div [@holderShownHidden]="{ value: popupService.boolQuestionModal.modalShown ? 'shown' : 'hidden' }"
    class="popup-holder bool-question-popup-holder">
    <img src="/assets/icons/question.svg" alt="question-icon" class="question-icon icon">

    <p class="message">{{popupService.boolQuestionModal.question}}</p>

    <div class="buttons">
        <button class="button okay" [class.red]="popupService.boolQuestionModal.buttonColorRed"
            (click)="popupService.boolQuestionModal.okay()">{{popupService.boolQuestionModal.acceptButtonText ??
            'Okay'}}</button>
        <button class="button secondary cancel" (click)="popupService.boolQuestionModal.cancel()">Abbrechen</button>
    </div>
</div>