<app-back-header backUrl="/welcome"></app-back-header>
<h1>Spiel beitreten</h1>

<main>
    <h3>Bitte Spiel-Nummer eingeben</h3>

    <form class="input-form" (ngSubmit)="joinSession()">
        <input placeholder="Spiel-Nummer" type="tel" name="sessionId" class="text-box" autocomplete="false" [(ngModel)]="sessionId">
        <div class="buttons">
            <a class="button secondary" routerLink="/welcome">Abbrechen</a>
            <button class="button">Beitreten</button>
        </div>
    </form>
</main>