@import "colors";

:host{
    display: flex;
    aspect-ratio: 63/88;
    user-select: none;
}

.border{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    border: 2px solid white;
    border-radius: 8.8%/6.3%;

    background-color: $background-color;
}

.center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80%;
    transform: rotate(-30deg);
}