<app-back-header backUrl="/username"></app-back-header>
<h1>Login</h1>

<main>
    <form class="input" (ngSubmit)="login()" ngModelOptions="standalone">
        <input placeholder="Benutzername" type="text" class="text-box" name="username" [(ngModel)]="username" />
        <input placeholder="Passwort" type="password" class="text-box" name="password" [(ngModel)]="password" />
        <input type="submit" class="button" value="Login">
        <p>oder Registrieren</p>
        <a class="button" routerLink="/register" queryParamsHandling="merge">Registrieren</a>
    </form>
</main>